@import url(https://fonts.googleapis.com/css?family=Open+Sans);

#navBar {
  position:center;
  width: auto;
  height: auto;
  color: rgb(0, 0, 0);
  font-weight: 700;
  text-shadow: 0px 0px 12px rgb(0, 0, 0), 0px 0px 12px rgb(177, 177, 177);
  display: inline-block;
  white-space: nowrap;
  word-wrap: break-word;
  font-size: auto;
  font-family: "Open Sans",  Impact;
  cursor: pointer;
  border: none;
  box-shadow: 0px 0px 10px #fff ;
  padding:8px;
  text-align: center;
}
footer{
  position: absolute;
  bottom: 0;
  left: 1em;
  font-size: 10px;
  color: rgba(0, 0, 0, 0.603);
}
.btn {
  width: auto;
  height: auto;
  color: rgb(255, 255, 255);
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: 0px 0px 12px rgb(218, 255, 209), 0px 0px 12px #fff;
  display: inline-block;
  white-space: nowrap;
  word-wrap: break-word;
  font-family: "Open Sans",  Impact;
  font-size: 10px;
  cursor: pointer;
  background-color: rgb(12, 124, 105);
  border-radius: 40px;
  box-shadow: 0px 0px 10px #fff;
  padding: -1px;
}

.btn:active {
  background-color: rgb(211, 211, 211);
  transform: scale(.95);
}

li {
  text-shadow: none;
  color: black;
  font-size: 30px;
}

body {
  text-align: center;
  padding: 10%;
  height:100vh;
  width:100vw;
  background-color: rgb(255, 255, 255);
  background: linear-gradient(rgb(81, 160, 250), rgb(138, 183, 250), rgb(199, 221, 255), rgba(255, 255, 255, 0.986));
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover;
  display: block;
  min-height: 100%;
  background-attachment: fixed;
  margin: 0 auto;
  max-width: 1200px;
}

.jumbotron {
  background-color: rgba(0, 0, 0, 0.349);
  text-align: center;
  margin: auto;
  width: 80%;
}

.animated {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.bounceInDown {
  -webkit-animation-name: bounceInDown;
  animation-name: bounceInDown;
}


@-webkit-keyframes bounceInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateY(30px);
  }
  80% {
    -webkit-transform: translateY(-10px);
  }
  100% { 
    -webkit-transform: translateY(0);
  }
}
@keyframes bounceInDown {
  0% {
    opacity: 0;
      transform: translateY(-2000px);
    }
    60% {
      opacity: 1;
      transform: translateY(30px);
    }
    80% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
   }
}