<h1>To Do List</h1>
  <br>
  <br>
  <div id="navBar">
     <form action="/search" method="get">
  <br>
  <label for="search">Search by Category</label>
  <input type = "text" name="search">
  <input type="submit" value="Search" class="btn">
  </form>
    <ul class="nav nav-tabs animated bounceInDown">
      <li role="presentation"><a href="/">Home</a></li>
      <li role="presentation"><a href="/items">Items</a></li>
      <li role="presentation"><a href="/categories">Categories</a></li>
    </ul>
  </div>