<h1>To Do List</h1>
  <br>
  <br>
  <div id="navBar">
    <ul class="nav nav-tabs animated bounceInDown">
      <li role="presentation"><a href="/">Home</a></li>
      <li role="presentation"><a href="/items">Items</a></li>
      @* <li role="presentation"><a href='/vendors/new'>New Vendor</a></li> *@
    </ul>
  </div>