@{
  Layout = "_Layout";
}
  <h2>Welcome to the To Do List!</h2>
  <p>This is a site where you can add and organize items on your to do list</p>
  <br>
  <p>Let's get sarted by creating an account</p>
  <br>
  <p>Click @Html.ActionLink("here", "Index", "Account") to begin.</p>