@{
  Layout = "_Layout";
}
    <h2>Welcome to the To Do List!</h2>
    <br>
    <p>@Html.ActionLink("See all items", "Index", "Items")</p>

    @*See all items = display text for the link ie: where it goes*@
    @*Index = target action in the controller*@
    @*(optional)Items = routes to Index action of ItemsController (doesn't need "Controller")*@