@{
  Layout = "_Layout";
}

@model ToDoList.Models.Item // model directive

<h2>Item Details</h2> @*DisplayNameFor displays property name/ DisplayFor displays the value of that property*@
<hr />
<h3>@Html.DisplayNameFor(model => model.Description): @Html.DisplayFor(model => model.Description)<h3>
<br>                       @*equates to "Description: 'Wash Dishes'"*@
<p>@Html.ActionLink("Back to list", "Index")</p>